<h1>Hello! </h1>

<form action="/homepage">
<div>
  <label for="input_city">Where do you want to run?</label>
  <input id="input_city" type="text" name="input_city" placeholder="Enter a City">
</div>
  <button>Find Running Routes</button>
</form>

<p>
See all <a href="/run_index">Runs</a>!
</p>