
<!DOCTYPE html>
<html>
<head>
  <title>Foodhub Target</title>

  <meta charset="utf-8">

  <!-- Connect to Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

  <!-- Connect to Font Awesome CSS -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.2/css/all.css">

  <!-- Connect to our own additional CSS -->

  <!-- Connect to jQuery (required before Bootstrap Javascript) -->
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>

  <!-- Connect to Bootstrap Javascript -->
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>


  <!-- These meta tags make Bootstrap responsive and more accessible -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Connect to Google Web Fonts -->
  <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Passion+One' rel='stylesheet' type='text/css'>

  <link href="/assets/my_styles.css" rel="stylesheet">
</head>

<h1><p class="text-primary">Welcome to Runners Delight!</p> </h1>

<i class="fas fa-running"></i>
<i class="fas fa-running"></i>
<i class="fas fa-running"></i>
<i class="fas fa-running"></i>
<i class="fas fa-running"></i>
<i class="fas fa-running"></i>
<i class="fas fa-running"></i>
<i class="fas fa-running"></i>
<i class="fas fa-running"></i>
<i class="fas fa-running"></i>
<i class="fas fa-running"></i>
<i class="fas fa-running"></i>
<i class="fas fa-running"></i>
<i class="fas fa-running"></i>
<i class="fas fa-running"></i>
<i class="fas fa-running"></i>
<i class="fas fa-running"></i>
<i class="fas fa-running"></i>
<i class="fas fa-running"></i>
<i class="fas fa-running"></i>
<i class="fas fa-running"></i>
<i class="fas fa-running"></i>
<i class="fas fa-running"></i>
<i class="fas fa-running"></i>
<i class="fas fa-running"></i>
<i class="fas fa-running"></i>
<i class="fas fa-running"></i>
<i class="fas fa-running"></i>
<i class="fas fa-running"></i>
<i class="fas fa-running"></i>
<i class="fas fa-running"></i>
<i class="fas fa-running"></i>
<i class="fas fa-running"></i>
<i class="fas fa-running"></i>
<i class="fas fa-running"></i>


<p>

<div>
This is a premier running website to help runners all over the world find new routes to explore! 
</div>
<div>
Tell us about your favorite running spots and we will tell you about ours
</div>
</p>
<p>
<form action="/run_filter/:<%=@the_city%>">
<div>
  <label for="input_city">Where do you want to run?</label>
  <input id="input_city" type="text" name="input_city" placeholder="Enter a City">
</div>
  <button> Find Running Routes</button>
</form>
</p>

<p>
<div>
See all <a href="/runs">Runs</a>!
</div>
<div>
See my <a href="/favorite_runs">Runs</a>!
</div>
</p>


<div class="container">
<img src="https://t4.ftcdn.net/jpg/02/78/15/89/360_F_278158974_vd8UgPLRQWeHMVe4K3VMHcnYtqruZNTK.jpg" >
</div> 

</div> 
