<h1><p class="text-primary">Welcome to Runners Delight!</p> </h1>

<i class="fas fa-running"></i>
<i class="fas fa-running"></i>
<i class="fas fa-running"></i>
<i class="fas fa-running"></i>
<i class="fas fa-running"></i>
<i class="fas fa-running"></i>
<i class="fas fa-running"></i>
<i class="fas fa-running"></i>
<i class="fas fa-running"></i>
<i class="fas fa-running"></i>
<i class="fas fa-running"></i>
<i class="fas fa-running"></i>
<i class="fas fa-running"></i>
<i class="fas fa-running"></i>
<i class="fas fa-running"></i>
<i class="fas fa-running"></i>
<i class="fas fa-running"></i>
<i class="fas fa-running"></i>
<i class="fas fa-running"></i>
<i class="fas fa-running"></i>
<i class="fas fa-running"></i>
<i class="fas fa-running"></i>
<i class="fas fa-running"></i>
<i class="fas fa-running"></i>
<i class="fas fa-running"></i>
<i class="fas fa-running"></i>
<i class="fas fa-running"></i>
<i class="fas fa-running"></i>
<i class="fas fa-running"></i>
<i class="fas fa-running"></i>
<i class="fas fa-running"></i>
<i class="fas fa-running"></i>
<i class="fas fa-running"></i>
<i class="fas fa-running"></i>
<i class="fas fa-running"></i>


<p>

<div>
This is a premier running website to help runners all over the world find new routes to explore! 
</div>
<div>
Tell us about your favorite running spots and we will tell you about ours
</div>
</p>
<p>
<form action="/run_filter/:<%=@the_city%>">
<div>
  <label for="input_city">Where do you want to run?</label>
  <input id="input_city" type="text" name="input_city" placeholder="Enter a City">
</div>
  <button> Find Running Routes</button>
</form>
</p>

<p>
<div>
See all <a href="/runs">Runs</a>!
</div>
<div>
See my <a href="/favorite_runs">Runs</a>!
</div>
</p>

<body>

<div class="container">
<div class="row mb-medium">
<div class="col-md-4">
<img src="https://t4.ftcdn.net/jpg/02/78/15/89/360_F_278158974_vd8UgPLRQWeHMVe4K3VMHcnYtqruZNTK.jpg">
</div> 

<div class="col-md-4">
</div> 

<div class="col-md-4">
</div> 

<div class="col-md-4">
</div> 

</body>