<h1>Welcome to Runners Delight!</h1>

<div>
This is a premier running website to help runners all over the world find new routes to explore! 
</div>
<div>
Tell us about your favorite running spots and we will tell you about ours
</div>

<p>
<form>
<div>
  <label for="input_city">Where do you want to run?</label>
  <input id="input_city" type="text" name="input_city" placeholder="Enter a City">
</div>
  <button type="button" class="btn btn-primary">Find Running Routes</button>
</form>
</p>

See all <a href="/runs">Runs</a>!
</div>
<div>
See my favorite <a href="/favorite_runs">Runs</a>!