<h1>Runners Delight</h1>


<form action="/login">
  <label for="input_username">Username</label>
  <input id="input_username" type="text" name="input_username" placeholder="Enter your username">
<div>
  <label for="input_password">Password</label>
  <input id="input_password" type="text" name="input_password" placeholder="Enter your password">
</div>
  <button>Login</button>
</form>
