<h1>Hi username</h1>

<p>
These are the runs have uploaded!
</p>

<div>
Edit your <a href="/edit_runner_profile">Profile</a>
</div>
<div>
Cancel your <a href="/cancel_runner_account">Account</a>
</div>