<h1><p class="text-primary">Hi <%= @current_runner.at(0).username %></p></h1>

<p>
These are the runs you have uploaded!
</p>

<div>
Go back to <a href="/homepage">Homepage</a>
</div>
<div>
Edit your <a href="/edit_runner_profile">Profile</a>
</div>
<div>
Cancel your <a href="/cancel_runner_account">Account</a>
</div>