<h1>All Runs!</h1>

<p>
<table border="1">
  <tr>
    <th>Name</th>
    <th>City</th>
    <th>Posted By</th>
    <th>Start Point</th>
    <th>End Point</th>
    <th>Distance</th>
    <th>Type</th>
    <th>Hills?</th>
    <th>More Info?</th>
  </tr>

  <tr>
    <td>
      Chicago Lakefront Path 
    </td>

    <td>
      Chicago
    </td>

    <td>
      romanoma
    </td>

    <td>
      Hyde Park 
    </td>

    <td>
      The Loop 
    </td>

    <td>
      13 kms  
    </td>

    <td>
      Concrete  
    </td>

   <td>
      No  
    </td>

  <td>
  <a href="run/:id">
  See Details
  </a>

  </tr>
</table>
</p>

<p>
  <a href="/homepage/:username">Back to Search!</a>
</p>
  
  
