<h1>All Runs!</h1>

<h3>Add New Run</h3>

<form>
<label for="input_name">Name your run</label>
<input id="input_name" type="text" name="input_name">

<div>
<label for="input_city">Where did you run?</label>
<input id="input_city" type="text" name="input_city" placeholder="Enter a City name">
</div>

<div>
<label for="input_start">Where did you start your run?</label>
<input id="input_start" type="text" name="input_start">
</div>

<div>
<label for="input_end">Where did you end up?</label>
<input id="input_end" type="text" name="input_end">
</div>

<div>
<label for="input_distance">How far did you run?</label>
<input id="input_distance" type="text" name="input_distance" placeholder="Enter distance in kms">
</div>

<div>
<label for="input_type">Run Type?</label>
<input id="input_type" type="text" name="input_type" placeholder="Concrete/Gravel/Trail">
</div>

<div>
<label for="input_hills">Where there hills?</label>
<input for="input_hills" type="text" name="input_hills" placeholder="Yes/No">
</div>

<div>
<label for="input_details">Tell us a bit more about the run</label>
<input for="input_details" type="text" name="input_details">
</div>

<button>Add Run</button>

</form>

<p>
<table border="1">
  <tr>
    <th>Name</th>
    <th>City</th>
    <th>Posted By</th>
    <th>Start Point</th>
    <th>End Point</th>
    <th>Distance</th>
    <th>Type</th>
    <th>Hills?</th>
    <th>More Info?</th>
  </tr>

  <tr>
    <td>
      Chicago Lakefront Path 
    </td>

    <td>
      Chicago
    </td>

    <td>
      romanoma
    </td>

    <td>
      Hyde Park 
    </td>

    <td>
      The Loop 
    </td>

    <td>
      13 kms  
    </td>

    <td>
      Concrete  
    </td>

   <td>
      No  
    </td>

  <td>
  <a href="run/:id">
  See Details
  </a>

  </tr>
</table>
</p>

<p>
  <a href="/homepage/:username">Back to Search!</a>
</p>
  
  
